div.appartments {
  div.uppinfo {
    font-size: 13px;
    display: flex;
    align-items: center;
    position: relative;
    > div.uppinfo1 {
      position: absolute;
      width: 60px;
      height: 15px;
      background-color: #1f4b43;
      color: white;
      padding: 8px;
      border-radius: 13px;
      left: 55px;
      top: 55px;
    }
    >div.uppinfo2{
      padding: 40px;
      position: absolute;
      left: 105px;
      top: 25px;
    }
  }
}
div.appartments {
  img {
    width: 350px;
    height: 350px;
    margin: 40px;
    border-radius: 20px;
  }
}
div.down{
  position: relative;
  >h5{
    position: absolute;
    bottom: 150px;
    left: 60px;
    color: white;
  }
  >p{
    position: absolute;
    bottom: 135px;
    left: 43px;
    color: rgba(255, 255, 255, 0.528);
  }
  >div.downinfo{
    
  }
}
