div.appartments {
  div.uppinfo {
    font-size: 13px;
    display: flex;
    align-items: center;
    position: relative;
    > div.uppinfo1 {
      position: absolute;
      width: 60px;
      height: 15px;
      background-color: #1f4b43;
      color: white;
      padding: 8px;
      border-radius: 13px;
      left: 40px;
      top: 35px;
    }
    > div.uppinfo2 {
      padding: 40px;
      position: absolute;
      left: 90px;
      top: 2px;
    }
  }
}
div.appartments {
  img {
    width: 350px;
    height: 350px;
    margin: 15px;
    border-radius: 20px;
  }
}
div.down {
  position: relative;
  > h5 {
    position: absolute;
    bottom: 137px;
    left: 35px;
    color: white;
  }
  > p {
    position: absolute;
    bottom: 115px;
    left: 18px;
    color: rgba(255, 255, 255, 0.815);
  }
  > div.downinfo {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 80px;
    left: 38px;
    color: rgba(255, 255, 255, 0.922);
    > p.price {
      flex: 1;
    }
    >span{
      padding: 6px;
    }
  }
}
