* {
  font-family: "Roboto";
}
a {
  font-size: 14px;
  padding: 15px;
  font-weight: 500;
  line-height: 30.4px;
}
div {
  color: #f6f8fa;
  > img {
    width: 100%;
  }
  > div.button {
    position: absolute;
    top: 400px;
    right: 630px;
    border: 1px solid #E7C873;
    background-color: #E7C873;
    padding: 15px;
    color: black;
    border-radius: 10px;
  }
  > nav {
    width: 100%;
    position: absolute;
    display: flex;
    > a {
      color: white;
      flex: 1;
      width: 130px;
      height: 38px;
    }
    > div.navcenter {
      align-content: center;
      > a > i {
        padding: 6px;
        size: 4px;
      }
    }
    > div.navend {
      padding: 30px;
      flex: 1;
      text-align: end;
      align-content: center;
      > a.contact {
        border: 1px solid white;
        border-radius: 150px;
        padding: 10px;
        > i {
        }
      }
      > a.add {
        border: 1px solid white;
        border-radius: 140px;
        padding: 14px;
        margin: 15px;
      }
    }
  }
}
div.center {
  position: absolute;
  top: 170px;
  right: 557px;
  > div.info {
    display: flex;
    justify-content: center;
    gap: 5px;
    > p {
      font-size: 15px;
      padding: 5px;
    }
  }
  > div.info2 {
    > p {
      font-size: 40px;
      margin: 0;
      padding: 0;
      align-items: end;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}
p.price {
  text-align: center;
}
