div.comm{div.searchline{
    background-color: #1A1A1A;
    display: flex;
    border: 1px solid #1A1A1A ;
    width: 1000px;
    border-radius: 24px;
    font-size: small;
    padding-top: 6px;
    padding-bottom: 4px;
    color: white;
    >div.keyword{
        flex: 1;
        border-right: 1px solid rgb(167, 166, 166) ;
        height: 60px;
        margin-bottom: 10px;
    }
    >div.status{
        flex: 1;
        border-right: 1px solid rgb(167, 166, 166) ;
        height: 60px;
        margin-bottom: 5px;
    }
    >div.type{
        flex: 1;
        height: 60px;
        margin-bottom: 10px;
    }
    >a.filterbtn{
        align-content: center;
        border: 0.5px solid rgb(167, 166, 166);
        text-align: center;
        border-radius: 20px;
        padding: 0;
        width: 130px;
        height: 60px;
        margin: 10px 10px 6px 6px;
    }
    >a.searchbtn{
        align-content: center;
        text-align: center;
        border: 1px solid #E7C873;
        background-color: #E7C873;
        border-radius: 20px;
        width: 130px;
        height: 60px;
        margin: 10px 10px 6px 6px;
        padding: 0px;
        color: black;
    }
}}
p{
    padding-left: 15px;
}
p.upp{
    opacity: 0.7;
}
p.down{
    >i{
        padding-left: 80px;
    }
}
div.comm{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -55px;
}